@import url('general.css');

.producto {
  margin-top: 2%;
  padding: 4% 1% 1% 1%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  margin-bottom: 2%;
  border: 1px solid #000;
}

.imagen-producto {
  text-align: center;
}

.imagen-producto img {
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  max-height: 400px;
  border: 2px solid #000;
}

.nombre-mas-precio {
  margin: 2% auto 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
  border: 1px solid #000;
}

.nombre, .precio {
  text-align: center;
  width: 100%;
}

.nombre {
  background-color: #000;
  color: #fff;
}

.precio {
  background-color: rgba(0,0,0,0.4);
  color: #000;
  border: 1px solid #000;
}

.descripcion {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  color: #000;
}

.botones {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .imagen-producto img {
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;
  }

}


@media (min-width: 992px) {
  .nombre-mas-precio {
    width: 60%;
  }

}
