footer nav ul div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #000;
  padding: 2%;
}


footer nav ul li a {
  color: #fff;
}

footer nav ul li:hover a {
  color: darkgray;
}

.links {
  border-bottom: 2px solid #fff;
}

.redes li i {
  color: #fff;
}

.redes li:hover i {
  color: darkgray;
}

@media (min-width: 982px) {
  footer nav ul {
    padding: 1%;
  }
}
