@import url('general.css');

.carrito-mas-gestor {
  display: flex;
  justify-content: flex-end;
}

.carrito {
  margin-right: 2%;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
}

.producto {
  padding: 4% 1% 1% 1%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  margin-bottom: 2%;
  border: 1px solid #000;
}

.imagen-producto {
  text-align: center;
  width: 100%;
}

.imagen-producto img {
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  max-height: 400px;
  border: 2px solid #000;
}

.nombre-mas-precio {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
  border: 1px solid #000;
}

.nombre, .precio {
  text-align: center;
  width: 100%;
}

.nombre {
  background-color: #000;
  color: #fff;
}

.precio {
  background-color: rgba(0,0,0,0.4);
  color: #000;
  border: 1px solid #000;
}

.descripcion {
  text-align: center;
  color: #000;
}

.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.botones .boton {
  width: 40%;
}

@media (min-width:576px) {
  .producto {
    width: 49%;
  }

  .botones .boton {
    width: 49%;
  }

  .imagen-producto img {
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
  }
}

@media (min-width:992px) {
  .producto {
    width: 33%;
  }

  .imagen-producto img {
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
  }

}
