@import url('general.css');

@import url('general.css');

.encabezado-formulario {
  text-align: center;
  margin-bottom: 1rem;
}

.campo {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}

.dato-campo {
  text-align: center;
}

.valor-campo {
  text-align: center;
}

.container-boton-submit {
  text-align: center;
}

.container-botones button {
  padding: 0.4rem 1rem;
  color: #000;
  border: 2px solid #fff;
  border-radius: 5px;
}

input, select, select option {
  color: #000;
  text-align: center;
}

input, select {
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: 	#969696;
}

.campo:nth-child(4) div.col-3.col-lg-5.valor-campo {
  padding: 0;
  text-align: right;
}

@media ( min-width: 992px ) {

  .campo {
    display: block;
    padding: 1rem;
    margin-bottom: 0;
  }

  .dato-campo {
    text-align: right;
  }

  .valor-campo {
    text-align: left;
  }

  .campo:nth-child(4) .dato-campo {
    text-align: left;
  }

  .container-botones button {
    padding: 0.4rem 2rem;
  }

  .campo:nth-child(5) .dato-campo, .campo:nth-child(6) .dato-campo {
    text-align: center;
  }

  .dato-campo a {
    text-decoration: underline;
  }

  form {
    font-size: 1.4rem;
  }

  .encabezado-formulario h2 {
    font-size: 3rem;
  }

}
