@import url('general.css');

form {
  background-color: rgba(0,0,0,0.4);
  border: 1px solid #000;
  padding: 4% 2% 2% 2%;
}

.form-group, div.titulo {
  display: flex;
  justify-content: center;
}

div.titulo {
  margin-bottom: 2rem;
}

.col-form-label {
  text-align: center;
  color: #000;
}

.form-control {
  color: #000;
}

div.error {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cc0202;
}

input {
  background-image: url('../img/bkground.png');
}
