@import url('general.css');


.texto{
  margin-left: 45%;
  margin-top: 10px;
}
#textt{
  margin-top: 50px;
}
main{
  margin-top: 14rem;
}

@media (min-width: 346px) {
  main{
    margin-top: 12rem;
  }
}

@media (min-width: 992px) {
  main {
    margin-top: 2rem;
  }
}
