@import url('general.css');

.div2{
  margin-top: 20px;
}
#enviar{
 margin-top: 10px;
}
.contacto1{
  margin-top: 25px;
  margin-left: 10px;
}
main{
  margin-top: 14rem;
}

.mapa {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.mapa iframe {
  width: 90%;
}


@media (min-width: 346px) {
  main{
    margin-top: 12rem;
  }
}

@media (min-width: 992px) {
  main {
    margin-top: 2rem;
  }
}
