@import url('header.css');
@import url('footer.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

.container-fluid {
  margin: 0 auto;
}

body {
  background-image: url('../img/bkground.png');
}

.boton {
  background-image: url('../img/bkground.png');
  text-align: center;
  border: 1px solid #000;
  padding: 0.6%;
}

.boton a {
  color: #000;
}

.boton:hover a {
  color: #343a40;
}
